li{
    position: relative;
    display: flex;
    
    align-items: center;
    width: 100%;
    background-color: rgb(204, 202, 202);
    border-radius: .8rem;
}
li span{
    font-size: 16px;
    color: white;
}
.complete-tag:hover{
    cursor: pointer;
}
.complete-tag{
    width: 40px;
    margin: 0 2rem;
}
.close-btn{
    position: absolute;
    right: 30px;
    top: -20px;
    background-color: rgb(204, 202, 202);
    border-radius: 50%;
    color: black;
    font-size: 24px;
    cursor:pointer;
}
.close-btn:hover{
    stroke:red;
}
li p{
    text-align: start;
    font-weight: 600;
}
